.centered-form{
    margin: 0 auto;
}
.medium-w{
    width: 50%;
}
.small-w{
    width: 30%;
}

.soft-block{
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #fafafa;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}